* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: firebrick;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    padding-top: 1rem;
}
ul {
    list-style: none;
}
.fa:hover {
    cursor: pointer;
}
.lineThrough {
    text-decoration: line-through;
    opacity: .7;
    filter: blur(.5px);

}
.page-title {
    color: navajowhite;
    padding-bottom: 2rem;
    font-size: 3rem;
    text-align: center;
}
.item-container {
/*    background-color: orange;*/
    width: 300px;
    padding-bottom: 1rem;
}
/* Start of item header */
.item-header {
    background: url('./bg.jpg')center center/cover;
    height: 200px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    display: flex;
    flex-direction: column;
}
.clear {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: .4rem;
    font-size: 1.5rem;
}
.fa-refresh {
    transition: all 250ms ease;
}
.fa-refresh:hover {
    color: whitesmoke;
}
.fa-refresh:active {
    color: rgba(245, 245, 245, 0.500);
}
.date {
    background-color: rgba(234, 48, 48, 0.38);
    color: white;
    margin-top: auto;
    padding: .4rem;
    font-size: 1.25rem;
    font-weight: lighter;
}
/* End of item header */
/* Start of item content */
/* Start of todo list */
.item-content {
/*    background-color:firebrick;*/
    padding: .3rem;
}
#todo-list {
    font-size: 1.5rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: navajowhite;
    word-break: break-all;
    padding-top: 1rem;
}
#todo-list li {
    border-bottom: 2px solid navajowhite;
    padding-bottom: .5rem;
}
#todo-list li:last-child{
    border-bottom: none;
}
.fa-circle {
    color: transparent;
    border: 2.5px outset black;
    border-radius: 1rem;
}
.fa-check-circle {
    border: 2.5px solid transparent;
    border-radius: 1rem;
    color: green;
}
.fa-trash {
    transition: all 250ms ease;
}
.fa-trash:hover {
    color: #8c908f;
}
.item {
    display: flex;
    align-items: center;
}
.item .text {
    flex: 1;
    text-align: center;
}
/* End of todo list */
/* End of item content */
/* Start of item buttons */
.add-item {
    display: flex;
    gap: .4rem;
    font-size: 1.5rem;
    align-items: center;
}
.add-item input {
    width: 75%;
    flex: 1;
    outline: none;
    border: 2px solid transparent;
    font-size: 1.25rem;
    padding: .2rem;
    text-align: center;
    color: red;
    font-weight: lighter;
}
.add-item input:focus {
    border: 2px solid rgba(81, 203, 238, 1);
}
.fa-plus-circle {
    transition: all 250ms ease;
}
.fa-plus-circle:hover {
    cursor: pointer;
    color: whitesmoke;
}
.fa-plus-circle:active {
    color: rgba(245, 245, 245, 0.500);
}
/* End of item buttons */